body {
  margin: 0;
  
}

main {
  font-family: Inter;

}

.navbar {
  height: 55px;
  background: #F55A5A;
  font-style: normal;
  font-weight: 500;
  font-size: 14.4608px;
  line-height: 18px;
  letter-spacing: -0.075em;

  /* padding-top: 20px; */

  color: #FFFFFF;

  display: flex;
  justify-content: center; 
  align-items: center;
}

.navbar--logo {
  
  margin: 0;
  padding: 0;

  /* background-color: black; */
}

.navbar--title {
  padding-left: 7px;
}